@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #fff;
    background-color: #202020;
    padding: 50px;
}

body .container{
    max-width: 1000px;
}

body .container header {
    background: url(background.jpg) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 20px 50px 60px 50px;
    border-radius: 16px;
}

body .container header .category {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

body .container header .info {
    text-align: center;
    
}